
body{
    margin: 0%;
}
.link{
    text-decoration: none;
    color: #333B41;
    font-weight: 600;
}
.container{
    width: 1600px;
    max-width: 1600px;
    background: #000000;
    display: flex;
    justify-content: center;
}

/* Header */

header{
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1160px;
}

.navigation_list{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #FFFFFF;
    padding: 0;
}

.nav_link{
    margin-right: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.navigation_list a {
    text-decoration: none;
    color: #FFFFFF;
}

.navigation_list a:hover{
    cursor: pointer;
    color: #F9804B;
}
.logo_link{
    padding-right: 63px;
}

.designed_by{
    padding-left: 380px;
}
.logo_h1{
    content: none;
}

/* bear container */

.panda_background{
    background-image: url("assets/Giant\ Panda.png");
    height: 385px;
    width: 1600px;
    max-width: 1600px;
}


/* Pick and feed a frien */

.pick_and_feed_a_friend{
    width: 1160px;
    max-width: 1160px;
    height: 1482px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 220px;
    align-items: flex-start;
    padding-left: 220px;
    background: linear-gradient(rgba(254, 189, 171, 0.74), rgba(254, 210, 144, 0.7));
}
.title{
    margin: 40px 0 0 0;
    font-weight: 400;
    font-size: 33px;
    color: #FFFFFF;
}
.first_paragraph{
    font-weight: 500;
    max-width: 1160px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.donation_title{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;    
    color: #FE9013;
}

.p_f_f_box{
    position: relative;
    margin-top: 45px;
    width: 1160px;
    height: 964px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}
.box_title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FE9013;
}
.box_information{
    margin: 0;
}
.illustartion_box{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 60px;
}

.four{
    font-weight: 500;
    font-size: 72px;
    margin: 0 0 11px 0;
}

.illustration_information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 11px;
    margin-top: 110px;
}
.panda{
    height: 246px;
    margin-left: 64px;
}
.price_vector_illustartion{
    position: absolute;
    top: 50%;
    left: 8%;
}

.roller_icon{
    position: absolute;
    left: 27.8%;
    top: 53%;
}
.roller_icon:hover{
    cursor: pointer;
    height: 50px;
    position: absolute;
    left: 27.3%;
    top: 52%;
}
.prices {
    position: absolute;
    top: 60%;
    left: 8%;
}
.price_usd{
    text-decoration: none;
    color: #111115;
    margin-right: 70px;
    font-size: 26px;
}


.another_amount{
    position: absolute;
    top: 68.5%;
    padding: 16px 115px 16px 9px;
}

.radio{
    position: absolute;
    top: 77%;
    display: flex;
    gap: 25px;
}


.feed_a_friend_button{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;

    border-radius: 25px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    width: 298px;
    height: 54px;
    position: absolute;
    top: 82%;
}
.feed_a_friend_button:hover{
    cursor: pointer;
    background: #ff5601;
}

.share{
    font-weight: 400;
    font-size: 16px;
    color: #333B41;
    position: absolute;
    top: 89%;
}



/*  FOOTER */

footer{
    height: 443px;
    width: 1600px;
    max-width: 1600px;
    background: #111115;
    position: relative;

}

.logo_footer{
    position: absolute;
    top: 9.5%;
    left: 13.8%;
}
.donate_volunteer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 36.4%;
    left: 13.8%;
}
.donate_volunteer:hover{
    cursor: pointer;
}
.icons_forFooter{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 59%;
    left: 13.8%;
}
form{
    position: absolute;
    top: 9.5%;
    left: 60%;
    color: #FFFFFF;
}
.footer_rights{
    display: flex;
    flex-direction: column;
    gap: 11px;
    position: absolute;
    right: 13.8%;
    bottom: 12%;
}

.footer_links{
    position: absolute;
    bottom: 8%;
    left: 38.8%;
}